body{
    background-color: black;
    color: white;
}
#main{
    padding: 0 100px;
}
/* ...................navbar............................... */
#navbar ul{
    height: 50px;
    border: 1px solid greenyellow;
    border-radius: 10px;
}
#navbar ul li{
    display: inline-block;
    margin-left: 8%;
    margin-top: 1.5%;
}
#navbar-logo{
    float: left;
}
#navbar-logo-img{
    height: 40px;
}
#navbar-contact{
    float: right;
    margin-top: 15px;
    margin-right: 50px;
}
/* ...................navbar............................... */
/* ..................below navbar .............................. */
#below-navbar p span{
    font-size: 40px;
    text-decoration: underline;
    line-height: 70px;
}
#below-navbar p{
    margin: 30px 0 0 50px;
}
/* ..................below navbar .............................. */
/* ..................................................... */
#upper-projects #upper-projects-first a button{
border-radius: 20px;
border: 1px solid #1baba2;
padding: 10px;
background-color: black;
color: white;
}
.webDev-btn{
    background-color: #1baba2 !important;
    color: red;
}
/* ..................................................... */
/* .......................upper-projects-second........................... */
#upper-projects{
    text-align: center;
}
#upper-projects #upper-projects-second table{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
#upper-projects #upper-projects-second table td{
    border: 1px solid #1baba2;
}
#upper-projects #upper-projects-second table td a{
    text-decoration: none;
    color: #1baba2;
}
#upper-projects #upper-projects-second table{
    border-collapse: collapse;
}
#landing-page-btn{
    background-color: #1baba2 !important;
}
#landing-page-btn a{
    color: white !important;
}
/* .......................upper-projects-second........................... */
/* ......................cards............................................ */
#cards{
    text-align: center;
    padding-left: 11%;
}
#card-1, #card-2{
    width: 30%;
    border-radius: 20px;
    /* margin: 50px; */
    float: left;
}
/* .................card 1 ............................................ */
#cards #card-1{
    background-image: linear-gradient(#245cb6, black);
    padding: 50px;
    margin-top: 150px;
    margin-right: 70px;
}
#cards #card-1 #card-1-imageCircle-1{
    border: 1px solid #245cb6;
    padding: 20px;
    width: 58%;
    background-color: white;
    border-radius: 50%;
    margin: 0 auto;
}
#cards #card-1 #card-1-imageCircle-1 #card-1-imageCircle-2{
    border: 2px solid #245cb6;
    border-radius: 50%;
    padding: 30px 0;
}
#cards #card-1 #card-1-imageCircle-1 #card-1-imageCircle-2 img{
    height: 100px;
}
#card-1 #card-1-viewSite{
    padding-top: 50px;
}
#card-1 #card-1-viewSite a{
    text-decoration: none;
    color: white;
}
/* ....................card 1 .................................... */
/* ...................card 2 .......................................... */
#cards #card-2{
    background-image: linear-gradient(#794487, black);
    padding: 50px;
    margin-top: 50px;
    margin-right: 20px;
}
#cards #card-2 #card-2-imageCircle-1{
    border: 1px solid #794487;
    padding: 20px;
    width: 58%;
    background-color: white;
    border-radius: 50%;
    margin: 0 auto;
}
#cards #card-2 #card-2-imageCircle-1 #card-2-imageCircle-2{
    border: 2px solid #794487;
    border-radius: 50%;
    padding: 30px 0;
}
#cards #card-2 #card-2-imageCircle-1 #card-2-imageCircle-2 img{
    height: 100px;
}
#card-2 #card-2-viewSite{
    padding-top: 50px;
}
#card-2 #card-2-viewSite a{
    text-decoration: none;
    color: white;
}
/* .....................card 2 ....................................... */
/* ......................cards............................................ */
/* ....................below-card-div-1................................... */
#footer #below-card-div-1 div{
    display: inline;
}
/* ....................below-card-div-1................................... */




/* ....................footer...................................... */
#footer{
    background-color: black;
    display: inline-block;
}
#footer #below-card-div-1 div{
    display: inline-block;
    margin: 0 10%;
}
/* ....................footer...................................... */
/* ........................below-card-div-2 ...............................*/
#below-card-div-2-1{
    width: 20%;
}
#below-card-div-2-1 img{
    width: 50px;
}
#below-card-div-2-1, #below-card-div-2-2, #below-card-div-2-3{
    display: inline-table;
    margin-top: 0;
    margin: 0 8%;
}
/* ........................below-card-div-2 ...............................*/
/* ....................bottom-footer.................................. */
#bottom-footer{
    background-color: rgb(19, 19, 19);
    padding: 5px 0 5px 30%;
}
#bottom-footer a{
    color: white;
}
/* ....................bottom-footer.................................. */